<div *ngIf="lastWatchedVideoLink$ | async as lastWatchedLink" class="p-4 bg-white/5 backdrop-blur-sm border border-purple-500/20 rounded-lg">
    <div class="flex items-center justify-between gap-2">
        <a [href]="lastWatchedLink.url"
           target="_blank"
           class="text-purple-300 hover:text-purple-200 break-all">
            {{ lastWatchedLink.url }}
        </a>
        <app-report-button
                [isReported]="lastWatchedLink.reported"
                (report)="reportAbuse(lastWatchedLink)">
        </app-report-button>
    </div>
</div>
